.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.sidebar,
.content {
    height: 100%;
}

.sidebar {
    overflow: auto;
}

.content {
    overflow: hidden;
}

/* make a grid */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
}

.wrapper>* {
    padding: .5rem;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

.header,
.footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
}

.header {
    color: white;
    background: var(--main-fg-color);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.header a,
.header a:visited {
    color: white;
    text-decoration: none;
}

.footer {
    background: #eee;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .wrapper>* {
        width: auto;
        margin: 0;
    }
}

/* Content */

iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

li:has(a:focus),
li:has(a:focus) a {
    color: white;
    background: var(--main-fg-color);
}

/* Table of contents with leading dots. https://stackoverflow.com/a/28097029/855105 */

.manual-toc {
    padding: 0;
    margin: 0;
    padding-left: 1rem;
}

.manual-toc li {
    display: flex;
}

.manual-toc li .title {
    order: 1;
}

.manual-toc li .chapter {
    order: 3;
}

.manual-toc li::after {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1.5px);
    background-position: bottom;
    background-size: 1ex 4.5px;
    background-repeat: space no-repeat;
    content: "";
    flex-grow: 1;
    height: 1em;
    order: 2;
}

.manual-toc li.toc-indent-1 {
    font-weight: bold;
}

.manual-toc li.toc-indent-2 {
    padding-left: 2em;
}

.manual-toc li.toc-indent-3 {
    padding-left: 4em;
}

.manual-toc li.toc-indent-4 {
    padding-left: 6em;
}