body {
    padding-right: 1rem;
}

/* Code */

code,
.codehilite,
.codehilite code {
    background-color: var(--code-bg);
}

.codehilite {
    overflow: auto;
    width: 90%;
    padding: 0 .5rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 2px #b0d7c9;
}

.xcodeblock {
    .item-select:only-of-type {
        display: none;
    }

    .item-select {
        cursor: hand;
        float: left;
        font-size: .75rem;
        padding: .1rem 0.25rem;
        margin-bottom: .3rem;
        margin-right: .3rem;
        background-color: #f8fae5;
        border: .1rem solid var(--main-fg-color);
        border-radius: .25rem;
        box-shadow: 2px 2px 2px #65a28d;
        min-width: 3rem;
        text-align: center;
    }

    .item-select {
        cursor: pointer;
        opacity: 0.5;
    }

    .item-select:hover,
    .item-select.selected {
        opacity: 1;
    }

    .item-select.selected {
        background-color: var(--hilight-color);
    }

    .codes {
        clear: both;
    }
}

/* BLockquotes */

blockquote {
    background: #f8fae5;
    border-left: 8px solid var(--main-fg-color);
    color: #555555;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.3;
    margin: 1em auto;
    padding: .25em;
    padding-left: 2em;
    position: relative;
}

blockquote::before {
    color: var(--main-fg-color);
    content: "\201C";
    font-size: 4em;
    left: 0;
    position: absolute;
    top: -0.2em;
}

blockquote::after {
    content: '';
}

blockquote span {
    color: #333333;
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

/* Chapter headers */

.chapter-section {
    margin-bottom: 1rem;
    padding-left: 1rem;

    header {
        margin-left: -1rem;

        position: sticky;
        top: 0;
        z-index: 2;
        background: rgba(255, 255, 255, 0.9);

        min-height: 2.5rem;

        h1 {
            margin: 0;
            padding-left: 1rem;
        }

        a.chapter-link {
            color: black;
            float: right;
            font-size: 1.5em;
            padding: 0 .25em;
            text-decoration: none;
        }
    }

    &:target header h1,
    &:target header a.chapter-link {
        animation: highlight .5s ease;
    }
}

@keyframes highlight {
    0% {
        color: white;
        background: var(--main-fg-color);
    }

    100% {
        color: black;
        background: rgba(255, 255, 255, 0.9);
    }
}

h1,
h2,
h3 {
    background-color: rgb(240, 243, 243);
    border-bottom: 0.125rem solid rgb(220, 223, 223);
}

h1:target,
h2:target,
h3:target {
    color: white;
    background: var(--main-fg-color);
}

/* Tables. */

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: .5rem;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: left;
    background-color: var(--main-fg-color);
    color: white;
}

/* Images, Misc... */

img {
    max-width: 80%;
    margin-left: 2rem;
}

a[href*="//"]::before {
    content: "👋 "
}

a[href*="//manticoresearch.com/"]::before {
    content: "🌐 "
}

a[href*="//play"]::before {
    content: "▶️ "
}

a[href*="//github"]::before {
    content: "⚙️ "
}